body{
    margin: 0px;
}
.container{
    background-color: #2b5489;
    /* border-radius: 2px; */
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 90%;
  max-width: 900px; */
}
.heading{
    color: aliceblue;
    font-size: 40px;
    font-weight: bold;
    width:90%;
    max-width: 900px;
    text-align: center;
}
.description{
    color: aliceblue;
    width: 90%;
    max-width: 900px;
    font-size: 24px;
    text-align: center;
    /* margin-bottom: 40px; */
    
   
}
.card-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    background-color: aliceblue;
    border: 2px solid black;
    color:black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 14px;
    width:210px;
    /* height: 40px; */
    font-size: 18px;
    margin-bottom: 24px;
    text-align: center;
}
.card-green{
    border-left: 8px solid #65a30d;;
}
.card-dark-green{
    border-left:8px solid #0d9488;
}
.border-dark-yellow {
    border-left: 8px solid #ca8a04;
  }
  
  .border-orange {
    border-left: 8px solid #ea580c;
  }
  
  .border-blue {
    border-left: 8px solid #4f46e5;
  }
  
  .border-violet {
    border-left: 8px solid #9333ea;
  }
  
  .border-pink {
    border-left: 8px solid #db2777;
  }
  
  .border-red {
    border-left: 8px solid #e11d48;
  }